@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion) {
    * {
      scroll-behavior: auto;
    }
  }

  body {
    @apply overflow-x-hidden text-darkBlue;
  }

  input,
  textarea,
  .select-element {
    @apply w-full rounded-lg border border-emerald-800 bg-white p-2;
  }

  input:focus,
  textarea:focus,
  .select-element:focus {
    @apply outline-8 outline-offset-2 outline-darkBlue;
  }

  label {
    @apply pl-1 font-semibold;
  }

  @media print {
    html,
    body {
      display: none;
    }
  }
}

@layer components {
  .courses-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    @apply container grid gap-4 px-4 py-8;
  }
}
